h1 { color: #111; font-family: 'Open Sans Condensed', sans-serif; font-size: 64px; font-weight: 700; line-height: 64px; margin: 0 0 0; padding: 20px 30px; text-align: center; text-transform: uppercase; }
h2 { color: #111; font-family: 'Open Sans Condensed', sans-serif; font-size: 48px; font-weight: 700; line-height: 48px; margin: 0 0 24px; padding: 0 30px; text-align: center; text-transform: uppercase; }
h3 { color: #d04764; font-family: 'Open Sans', cursive; font-size: 36px; font-weight: normal; line-height: 48px; margin: 0 0 18px; text-shadow: 1px 0 0 #fff; }body header {margin-top: 60px;}

a {border:dotted 1px yellow}
a:hover {border:double 1px blue}

a:active{background-color: black}

section article p{padding: 2em 1em;
margin-bottom: 2em;
background-color: #e9ecef;
border-radius: 1em;}

@media screen and (max-width:500px)
{img(display:none)}